@font-face {
  font-family: "Lagu Sans Light";
  src: url("./font/Lagu-Sans-Light.otf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  font-family: "Lagu Sans Light";
}

.container {
  height: 80%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 0 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .navigation {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  header .navigation {
    width: 100%;
    padding: 0 15px;
  }
}
header .navigation .logo img {
  width: 150px;
}
@media (max-width: 576px) {
  header .navigation .logo img {
    width: 120px;
  }
}
header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header nav .menu {
  display: none;
}
@media (max-width: 576px) {
  header nav .menu {
    display: block;
    width: 35px;
    cursor: pointer;
  }
}
header nav ul {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
    visibility: hidden;
    background-color: #fafafa;
  }
}
header nav ul li {
  padding: 0 20px;
  list-style-type: none;
}
@media (max-width: 576px) {
  header nav ul li {
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #555555;
}
header nav ul li a:hover {
  color: #ffc0ca;
}

.banner-area {
  border: 2x solid blue;
  width: 100%;
  height: 700px;
  display: flex;
  background-color: #f8f8f8;
  background-image: url("./images/circuit-three.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right -40% bottom -130%;
}
@media (max-width: 576px) {
  .banner-area {
    height: 500px;
    background-size: 60% 80%;
  }
}
.banner-area .image-2 {
  width: 13%;
  height: 100%;
  background-image: url("./images/processor-edit-size-black.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 576px) {
  .banner-area .image-2 {
    display: none;
  }
}
.banner-area .container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .banner-area .container {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
}
.banner-area .container h1 {
  font-size: 3.5rem;
  font-family: "Lagu Sans Light";
  font-weight: 900;
  width: 70%;
  color: #ffc0ca;
}
@media (max-width: 576px) {
  .banner-area .container h1 {
    font-size: 2.2rem;
    width: 100%;
  }
}
.banner-area .container p {
  width: 60%;
  display: flex;
  font-size: 2rem;
  color: #555555;
  font-family: "Lagu Sans Light";
  font-weight: 500;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .banner-area .container p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

.action-area {
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}
@media (max-width: 576px) {
  .action-area {
    height: 200px;
  }
}
.action-area .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-area .container .action-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .action-area .container .action-part {
    padding: 0 10px;
  }
}
.action-area .container .action-part .action-part__item {
  width: 30%;
}
.action-area .container .action-part .action-part__item img {
  width: 90px;
  height: 90px;
}
@media (max-width: 576px) {
  .action-area .container .action-part .action-part__item img {
    width: 50px;
    height: 50px;
  }
}
.action-area .container .action-part .action-part__item h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffc0ca;
}
@media (max-width: 576px) {
  .action-area .container .action-part .action-part__item h3 {
    font-size: 0.8rem;
    color: black;
  }
}

.tech-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tech-area .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.tech-area .container h1 {
  text-transform: uppercase;
  margin: 120px 0 50px 0;
  color: #ffc0ca;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .tech-area .container h1 {
    margin: 120px 0 0 0;
    font-size: 1.5rem;
  }
}
.tech-area .container .tech-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .tech-area .container .tech-part {
    width: 100%;
    flex-direction: column;
  }
}
.tech-area .container .tech-part .tech-part__item {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 576px) {
  .tech-area .container .tech-part .tech-part__item {
    width: 100%;
    margin-top: 50px;
  }
}
.tech-area .container .tech-part .tech-part__item img {
  width: 150px;
  height: 150px;
}
@media (max-width: 576px) {
  .tech-area .container .tech-part .tech-part__item img {
    width: 100px;
    height: 100px;
  }
}
.tech-area .container .tech-part .tech-part__item h2 {
  margin: 35px 0;
  font-size: 1.5rem;
  text-align: center;
  color: #555555;
}
@media (max-width: 576px) {
  .tech-area .container .tech-part .tech-part__item h2 {
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
  }
}
.tech-area .container .tech-part .tech-part__item p {
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  .tech-area .container .tech-part .tech-part__item p {
    font-size: 1rem;
  }
}

.service-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-area .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-area .container h1 {
  text-transform: uppercase;
  margin: 60px 0 50px 0;
  color: #ffc0ca;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .service-area .container h1 {
    font-size: 1.5rem;
  }
}
.service-area .container .service-part {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .service-area .container .service-part {
    width: 100%;
    height: 80vh;
  }
}
.service-area .container .service-part .service-part__item {
  display: flex;
  width: 24%;
  flex-direction: column;
}
@media (max-width: 576px) {
  .service-area .container .service-part .service-part__item {
    width: 100%;
    display: none;
    padding: 0 20px;
    transition: display 0.2s;
  }
}
.service-area .container .service-part .service-part__item img {
  width: 240px;
  height: 170px;
}
@media (max-width: 576px) {
  .service-area .container .service-part .service-part__item img {
    width: 100%;
    height: auto;
  }
}
.service-area .container .service-part .service-part__item h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 2px;
}
.service-area .container .service-part .service-part__item ul {
  margin-top: 10px;
}
.service-area .container .service-part .service-part__item ul li {
  list-style-type: none;
  font-size: 1.2rem;
  margin-top: 15px;
  padding: 0 2px;
}

.contact-area {
  text-align: center;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-area .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-area .container h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffc0ca;
}
@media (max-width: 576px) {
  .contact-area .container h1 {
    font-size: 1.5rem;
  }
}
.contact-area .container .contact-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-area .container .contact-part form {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}
.contact-area .container .contact-part form input {
  width: 48%;
  height: 50px;
  font-size: 1.2rem;
  padding: 0 20px;
  border: 2px solid #8f8f9d;
  font-family: "Lagu Sans Light";
  color: black;
}
@media (max-width: 576px) {
  .contact-area .container .contact-part form input {
    width: 100%;
  }
}
.contact-area .container .contact-part form input[type=email] {
  margin-left: 4%;
}
@media (max-width: 576px) {
  .contact-area .container .contact-part form input[type=email] {
    width: 100%;
    margin: 20px 0 10px 0;
  }
}
.contact-area .container .contact-part form input:focus {
  outline: none;
  border: 2px solid #ee6578;
}
.contact-area .container .contact-part form textarea {
  width: 100%;
  margin: 4% 0;
  font-size: 1.2rem;
  padding: 10px 20px;
  resize: none;
  height: 180px;
  border: 2px solid #8f8f9d;
  outline: none;
  font-family: "Lagu Sans Light";
}
.contact-area .container .contact-part form textarea:focus {
  border: 2px solid #ee6578;
  color: black;
}
.contact-area .container .contact-part form button {
  font-size: 1.2rem;
  padding: 10px 50px;
  background-color: #555555;
  cursor: pointer;
  color: white;
  border: none;
  transition: 0.3s all;
  font-family: "Lagu Sans Light";
}
.contact-area .container .contact-part form button:hover {
  background-color: #ee6578;
}
@media (max-width: 576px) {
  .contact-area .container .contact-part form button {
    margin-top: 10px;
  }
}

footer {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  height: auto;
}
footer .container {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 1000px;
  width: 100%;
}
@media (max-width: 576px) {
  footer .container {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
}
footer .container .logo img {
  width: 200px;
}
@media (max-width: 576px) {
  footer .container .logo img {
    width: 120px;
    margin: 20px 0;
  }
}
footer .container nav {
  margin-left: auto;
}
@media (max-width: 576px) {
  footer .container nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
footer .container nav h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #ffc0ca;
}
footer .container nav ul {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
footer .container nav ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
footer .container nav ul li address {
  padding: 10px;
}
footer .container nav ul li address p {
  font-style: normal;
}
footer .container nav ul li address .title {
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
footer section {
  padding: 15px;
  background-color: #555555;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section p {
  color: #fafafa;
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */