@font-face {
  font-family: "Lagu Sans Light";
  src: url("./font/Lagu-Sans-Light.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  font-family: "Lagu Sans Light";
}

.container {
  height: 80%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 0 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  position: fixed;
  background-color: #fafafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header .navigation {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .logo img {
  width: 150px;
}

header .navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header .navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation nav ul li {
  padding: 0 20px;
  list-style-type: none;
}

header .navigation nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #555555;
}

header .navigation nav ul li a:hover {
  color: #ee6578;
}

.banner-area {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  background-image: url("./images/circuit-three.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right -40% bottom -130%;
}

.banner-area .image-2 {
  width: 13%;
  height: 100%;
  background-image: url("./images/processor-edit-size-black.png");
  background-position: center;
  background-size: cover;
}

.banner-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-area .container h1 {
  font-size: 3.5rem;
  font-family: "Lagu Sans Light";
  font-weight: 900;
  width: 70%;
  color: #F06862;
}

.banner-area .container p {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  color: #555555;
  font-family: "Lagu Sans Light";
  font-weight: 500;
  margin-top: 40px;
}

.action-area {
  height: 300px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8f8;
}

.action-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-area .container .action-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-area .container .action-part .action-part__item {
  width: 30%;
}

.action-area .container .action-part .action-part__item img {
  width: 90px;
  height: 90px;
}

.action-area .container .action-part .action-part__item h3 {
  color: #555555;
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #F06862;
}

.tech-area {
  text-align: center;
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech-area .container h1 {
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #555555;
  font-size: 2rem;
  color: #F06862;
}

.tech-area .container .tech-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-area .container .tech-part .tech-part__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.tech-area .container .tech-part .tech-part__item img {
  width: 150px;
  height: 150px;
}

.tech-area .container .tech-part .tech-part__item h2 {
  margin: 35px 0;
  font-size: 1.5rem;
  text-align: center;
  color: #555555;
}

.tech-area .container .tech-part .tech-part__item p {
  font-size: 1.2rem;
}

.service-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-area .container h1 {
  text-transform: uppercase;
  margin: 60px 0 50px 0;
  color: #F06862;
  font-size: 2rem;
}

.service-area .container .service-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-area .container .service-part .service-part__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-area .container .service-part .service-part__item img {
  width: 240px;
  height: 170px;
}

.service-area .container .service-part .service-part__item h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 2px;
}

.service-area .container .service-part .service-part__item ul {
  margin-top: 10px;
}

.service-area .container .service-part .service-part__item ul li {
  list-style-type: none;
  font-size: 1.2rem;
  margin-top: 15px;
  padding: 0 2px;
}

.contact-area {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-area .container h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555555;
  font-size: 2rem;
  color: #F06862;
}

.contact-area .container .contact-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-area .container .contact-part form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-area .container .contact-part form input {
  width: 48%;
  height: 50px;
  font-size: 1.2rem;
  padding: 0 20px;
  border: 2px solid #8f8f9d;
  font-family: "Lagu Sans Light";
  color: black;
}

.contact-area .container .contact-part form input[type="email"] {
  margin-left: 4%;
}

.contact-area .container .contact-part form input:focus {
  outline: none;
  border: 2px solid #ee6578;
}

.contact-area .container .contact-part form textarea {
  width: 100%;
  margin: 4% 0;
  font-size: 1.2rem;
  padding: 10px 20px;
  resize: none;
  height: 180px;
  border: 2px solid #8f8f9d;
  outline: none;
  font-family: "Lagu Sans Light";
}

.contact-area .container .contact-part form textarea:focus {
  border: 2px solid #ee6578;
  color: black;
}

.contact-area .container .contact-part form button {
  font-size: 1.2rem;
  padding: 10px 50px;
  background-color: #555555;
  cursor: pointer;
  color: white;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-family: "Lagu Sans Light";
}

.contact-area .container .contact-part form button:hover {
  background-color: #ee6578;
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  max-width: 1000px;
  width: 100%;
}

footer .container .logo img {
  width: 200px;
}

footer .container nav {
  margin-left: auto;
}

footer .container nav h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #F06862;
}

footer .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

footer .container nav ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

footer .container nav ul li address {
  padding: 10px;
}

footer .container nav ul li address p {
  font-style: normal;
}

footer .container nav ul li address .title {
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

footer section {
  padding: 15px;
  background-color: #555555;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section p {
  color: #fafafa;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */