@import "./shared";

@font-face {
  font-family: "Lagu Sans Light";
  src: url("./font/Lagu-Sans-Light.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  font-family: "Lagu Sans Light";
}

.container {
  height: 80%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 0 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .navigation {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;

    @include for-max-phone-portrait {
      width: 100%;
      padding: 0 15px;
    }

    .logo img {
        width: 150px;

        @include for-max-phone-portrait {
          width: 120px;
        }
      }
    }

    nav {
      display: flex;
      align-items: center;
      margin-left: auto;

      .menu {
        display: none;

        @include for-max-phone-portrait {
          display: block;
          width: 35px;
          cursor: pointer;
        }
      }

      ul {
        display: flex;
        align-items: center;


        @include for-max-phone-portrait {
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 100%;
          top: 70px;
          left: 0;
        transition: opacity 0.5s ease;
        opacity: 0;
      visibility: hidden;
      background-color: #fafafa;
        }

        li {
          padding: 0 20px;
          list-style-type: none;

          @include for-max-phone-portrait {
            padding: 10px 0;
            text-align: center;
            width: 100%;
     }

          a {
            text-decoration: none;
            font-size: 1.2rem;
            color: #555555;

            &:hover {
              color: #fecdd4;
            }
          }
        }
      }
    }
  }

.banner-area {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: #f8f8f8;

  background-image: url("./images/circuit-three.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right -40% bottom -130%;

  @include for-max-phone-portrait {
    background-image: none;
    height: 500px;
  }

  .image-2 {
    width: 13%;
    height: 100%;

    background-image: url("./images/processor-edit-size-black.png");
    background-position: center;
    background-size: cover;

    @include for-max-phone-portrait {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    @include for-max-phone-portrait {
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;
    }

    h1 {
      font-size: 3.5rem;
      font-family: "Lagu Sans Light";
      font-weight: 900;
      width: 70%;
      color: #fecdd4;

      @include for-max-phone-portrait {
        font-size: 2.2rem;
        width: 100%;
      }
    }

    p {
      width: 60%;
      display: flex;
      font-size: 2rem;
      color: #555555;
      font-family: "Lagu Sans Light";
      font-weight: 500;
      margin-top: 40px;

      @include for-max-phone-portrait {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }
  }
}

.action-area {
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;

  @include for-max-phone-portrait {
    height: 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-part {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include for-max-phone-portrait {
        padding: 0 10px;
      }

      .action-part__item {
        width: 30%;

        img {
          width: 90px;
          height: 90px;

          @include for-max-phone-portrait {
            width: 50px;
            height: 50px;
          }
        }

        h3 {
          font-size: 1.3rem;
          margin-bottom: 20px;
          text-transform: uppercase;
          color: #fecdd4;

          @include for-max-phone-portrait {
            font-size: 0.8rem;
            color: black;
          }
        }
      }
    }
  }
}

.tech-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
 
    h1 {
      text-transform: uppercase;
      margin: 120px 0 50px 0;
      color: #fecdd4;
      font-size: 2rem;
      
      @include for-max-phone-portrait {
        margin: 120px 0 0 0;
        font-size: 1.5rem;
      }
    }

    .tech-part {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

       @include for-max-phone-portrait {
        width: 100%;
        flex-direction: column;
      }


      .tech-part__item {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        @include for-max-phone-portrait {
          width: 100%;
          margin-top: 50px;
        }

 
        img {
          width: 150px;
          height: 150px;

          @include for-max-phone-portrait {
            width: 100px;
            height: 100px;
          }
        }

        h2 {
          margin: 35px 0;
          font-size: 1.5rem;
          text-align: center;
          color: #555555;

          @include for-max-phone-portrait {
            font-size: 1.2rem;
            margin: 20px 0 10px 0;
          }
        }

        p {
          font-size: 1.2rem;

          @include for-max-phone-portrait {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.service-area {
  // background-color: #f8f8f8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1 {
      text-transform: uppercase;
      margin: 60px 0 50px 0;
      color: #fecdd4;
      font-size: 2rem;

       @include for-max-phone-portrait {
        font-size: 1.5rem;
      }
    }

    .service-part {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include for-max-phone-portrait {
        width: 100%;
        height: 80vh;
      }

      .service-part__item {
        display: flex;
        width: 24%;
        flex-direction: column;

        @include for-max-phone-portrait {
          width: 100%;
          display: none;
          padding: 0 20px;
          transition: display 0.2s;
        }

        img {
          width: 240px;
          height: 170px;

          @include for-max-phone-portrait {
            width: 100%;
            height: auto;
          }
        }

        h2 {
          font-size: 1.5rem;
          margin-top: 20px;
          padding: 0 2px;
        }

        ul {
          margin-top: 10px;

          li {
            list-style-type: none;
            font-size: 1.2rem;
            margin-top: 15px;
            padding: 0 2px;
          }
        }
      }
    }
  }
}

.contact-area {
  text-align: center;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 40px;
      text-transform: uppercase;
      font-size: 2rem;
      color: #fecdd4;

      @include for-max-phone-portrait {
        font-size: 1.5rem;
      }
    }

    .contact-part {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;

        input {
          width: 48%;
          height: 50px;
          font-size: 1.2rem;
          padding: 0 20px;
          border: 2px solid #8f8f9d;
          font-family: "Lagu Sans Light";
          color: black;

          @include for-max-phone-portrait {
            width: 100%;
          }

          &[type="email"] {
            margin-left: 4%;

            @include for-max-phone-portrait {
              width: 100%;
              margin: 20px 0 10px 0;
            }
          }

          &:focus {
            outline: none;
            border: 2px solid #ee6578;
          }
        }

        textarea {
          width: 100%;
          margin: 4% 0;
          font-size: 1.2rem;
          padding: 10px 20px;
          resize: none;
          height: 180px;
          border: 2px solid #8f8f9d;
          outline: none;
          font-family: "Lagu Sans Light";

          &:focus {
            border: 2px solid #ee6578;
            color: black;
          }
        }

        button {
          font-size: 1.2rem;
          padding: 10px 50px;
          background-color: #555555;
          cursor: pointer;
          color: white;
          border: none;
          transition: 0.3s all;
          font-family: "Lagu Sans Light";
          
                  &:hover {
                    background-color: #ee6578;
                  }

                  @include for-max-phone-portrait {
                    margin-top: 10px;
                  }
        }
      }
    }
  }
}

footer {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  height: auto;

  .container {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1000px;
    width: 100%;

    @include for-max-phone-portrait {
      padding: 20px 15px;
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;

   }

    .logo img {
      width: 200px;

      @include for-max-phone-portrait {
        width: 120px;
        margin: 20px 0;
      }
    }

    nav {
      margin-left: auto;
      
      @include for-max-phone-portrait {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h2 {
        font-size: 1.2rem;
        text-align: center;
        color: #fecdd4;
      }

      ul {
        display: flex;
        margin-top: 10px;
        justify-content: space-around;

        li {
          list-style-type: none;
          display: flex;
          justify-content: space-between;

          address {
            padding: 10px;

            p {
              font-style: normal;
            }

            .title {
              font-weight: 400;
              text-align: center;
              font-size: 1.25rem;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  section {
    padding: 15px;
    background-color: #555555;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fafafa;
      font-size: 1rem;
    }
  }
}
